<footer class="mt-5">
  <div class="footer-container">
    <!-- Logo and Address Section -->
    <div class="footer-section brand-section">
      <div class="logo-container">
        <img src="/image/hmj/logo_hmj.png" alt="HMJTI Logo" class="logo" />
        <h2 class="organization-name">HMJ Teknologi Informasi</h2>
      </div>
      <div class="address">
        <p>Jl. Mastrip PO.BOX 164 Sumbersari Jember Jawa Timur Indonesia 68101</p>
      </div>
    </div>

    <!-- Navigation Section -->
    <div class="footer-section">
      <h3 class="section-title">Navigasi</h3>
      <ul class="footer-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/departemen">Departemen</a></li>
        <li><a href="/proker">Proker</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>

    <!-- Contact Section -->
    <div class="footer-section">
      <h3 class="section-title">Contact Us</h3>
      <a href="mailto:hmjti@polije.ac.id" class="contact-link"><i class="far fa-envelope"></i> hmjti@polije.ac.id</a>
    </div>

    <!-- Social Media Section -->
    <div class="footer-section">
      <h3 class="section-title">Social Media</h3>
      <ul class="footer-links social-links">
        <li>
          <a href="https://www.instagram.com/hmjti_polije/" class="social-link"><i class="fab fa-instagram"></i>
            Instagram</a>
        </li>
        <li>
          <a href="#" class="social-link"><i class="fab fa-tiktok"></i> Tiktok</a>
        </li>
        <li>
          <a href="#" class="social-link"><i class="fab fa-youtube"></i> Youtube</a>
        </li>
      </ul>
    </div>
  </div>

  <hr style="
  border: none; height: 1px;background: linear-gradient(to right, transparent, #373737, transparent);
">

  <div class="copyright">
    <p>&copy; 2025 HMJ Teknologi Informasi. All rights reserved.</p>
  </div>
</footer>