<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- Font Google -->
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/global.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">



 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

  <!-- Logo Title -->

  <link rel="icon" href="/image/hmj/logo_hmj.png" type="/image/x-icon" />

  <title>HMJTI</title>
</head>

<body>
  <button id="backToTop" class="hide" border="none">
    <i class="bi bi-arrow-up-square-fill"></i>
  </button>

  <%- include('partials/navbar') %>

    <!-- Hero Section -->
    <section id="hero">
      <div class="container container-hero h-100">
        <div class="row h-100">
          <div class="col-md-6 hero-tagline my-auto">
            <p class="fw-bold mb-0 ">2025/2026</p>
            <h1>HIMPUNAN MAHASISWA JURUSAN <span class="span-hero">TEKNOLOGI INFORMASI</span></h1>
              <p> Bersinergi dari hati, Berdedikasi untuk TI.</p>
              <a href="/about"><button class="btn button-lg-primary">Tentang</button></a>
              <a href="https://hmjtipolije.carrd.co/?utm_source=ig&utm_medium=social&utm_content=link_in_bio"><button class="btn button-lg-primary">CARD</button></a>
          </div>
        </div>
      </div>
    </section>




    <!-- Section Departemen -->
    <div class="container py-5">
      <h2 class="text-left fw-bold mb-4 section-title">DIVISI HMJ TI</h2>
      <div class="row justify-content-center g-3">
        
        <!-- BOX 1 -->
        <div class="col-6 col-md-2">
          <div class="dept-box text-center">
            <i class="bi bi-people dept-icon"></i>
            <p class="dept-title fw-bold fs-5">BPH</p>
          </div>
        </div>
        
        <!-- BOX 2 -->
        <div class="col-6 col-md-2">  
          <div class="dept-box text-center">
            <i class="bi bi-journal-bookmark dept-icon"></i>
            <p class="dept-title fw-bold fs-5">ADMINISTRASI</p>
          </div>
        </div>

        <!-- BOX 3 -->
        <div class="col-6 col-md-2">
          <div class="dept-box text-center">
            <i class="bi bi-lightbulb dept-icon"></i>
            <p class="dept-title fw-bold fs-5">KEILMUAN</p>
          </div>
        </div>

        <!-- BOX 4 -->
        <div class="col-6 col-md-2">
          <div class="dept-box text-center">
            <i class="bi bi-briefcase dept-icon"></i>
            <p class="dept-title fw-bold fs-5">PERHUBUNGAN</p>
          </div>
        </div>

        <!-- BOX 5 -->
        <div class="col-6 col-md-2">
          <div class="dept-box text-center">
            <i class="bi bi-calendar-event dept-icon"></i>
            <p class="dept-title fw-bold fs-5">KOMINFO</p>
          </div>
        </div>

        <!-- BOX 6 -->
        <div class="col-6 col-md-2">
          <div class="dept-box text-center">
            <i class="bi bi-gear dept-icon"></i>
            <p class="dept-title fw-bold fs-5">KWU</p>
          </div>
        </div>

      </div>
    </div>




  



    <!-- footer-->
    <%- include('partials/footer') %>
      <!-- Script Postingan -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init({
          once: true,
        });
      </script>
      <script src="/js/script.js"></script>
      <script src="/js/backToTop.js"></script>
      <script src="/js/scrollImage.js"></script>
      <script src="/js/animation_slide.js"></script>
</body>

</html>
