/* ==========================
   Hero Section
========================== */
#hero {
  padding: 100px 0 80px;
  overflow: hidden;
  max-height: 320px;
}

#hero h1 {
  font-weight: bold;
}

#hero p {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 17px;
  margin-top: 15px;
}

/* ==========================
   Button Primary
========================== */
.button-lg-primary {
  width: 100px;
  height: 50px;
  background: linear-gradient(160deg, #597DFF, #ffffff);
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 25px;
  transition: all 0.5s;
}

.button-lg-primary:hover {
  background: #ffffff;
  color: rgb(120, 110, 255);
  border: 2px solid rgb(125, 115, 255);
}

/* ==========================
   About Section
========================== */
#about-section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.about-content {
  max-width: 600px;
  text-align: left;
}

/* Subtitle */
.about-subtitle {
  color: #16a085;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 80px;
}

/* Title */
.about-title {
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

#about-section h3 {
  color: #4163ea;
}
/* Text */
.about-text {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}

/* Mission List */
.mission-list {
  list-style: none;
  padding: 0;
}

.mission-list li {
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
  color: #484848;
}

.mission-list li:before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: #16a085;
  font-size: 14px;
}

/* Button Selengkapnya */
.about-content .btn_selengkapnya {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background: blue;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.about-content .btn_selengkapnya:hover {
  background: rgb(0, 0, 185);
  border: none;
}

/* ==========================
   About Image
========================== */
.about-image {
  max-width: 700px;
  margin-top: 80px;
  margin-inline: auto;
  border-radius: 3rem 1rem 3rem 1rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 3rem 1rem 3rem 1rem;
}
