/* ==========================
   Hero Section
========================== */
#hero {
  padding: 100px 0 80px;
  overflow: hidden;
  max-height: 320px;
}

#hero h1 {
  font-weight: bold;
}

#hero p {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 17px;
  margin-top: 15px;
}


/* Card Berita */
.cardarea .card {
 /* pinggir jelas */
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.cardarea .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  border: 1px solid  #1100ff;
}

.cardarea .card .widget {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #333;
  padding: 0.5rem 1rem;
  background-color: rgba(0,0,0,0.03);
}

.cardarea .card img {
  height: 300px;
  object-fit: cover;
  width: auto;
}

.cardarea .card-body {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cardarea .card-body h5 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cardarea .card-body p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-bottom: auto;
}

.cardarea .card-body a.btn {
  margin-top: 1rem;
  align-self: start;
  font-size: 0.85rem;
  border-radius: 25px;
}