
/* Hero Section */

/* #hero { */
/* background: linear-gradient(160deg, var(--pr-color), #000000); */
/* background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(0, 95, 177) 60%), url("image/kontak_img.png") bottom/contain no-repeat;
  min-height: 100vh;
  width: 100%;
  overflow: hidden; */
/* } */
#hero {
  min-height: 70vh;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}


.container-hero {

background: linear-gradient(159deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border: 1px solid rgba(215, 233, 255, 0.22);
  width: 1200px;
  padding: 20px 40px;
  max-width: 95%;
  box-sizing: border-box;
}

.hero-tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}


.span-hero {
  color: #1e80ff;
}

@media (min-width: 768px) {
  .shadow-shape {
    width: 120%;           /* memperbesar gambar */
    max-width: 400px;      /* batas maksimal supaya tidak terlalu besar */
    height: auto;
    margin: 0;
    object-fit: cover;
    border-radius: 50%;    /* lingkaran, bisa dihapus kalau bentuk bebas PNG */
    filter: drop-shadow(0 8px 20px rgba(0,0,0,0.5));
    transition: transform 0.3s ease, filter 0.3s ease;
    perspective: 1000px;
    margin: 0;
  }
  
  /* Efek hover opsional */
  .shadow-shape:hover {
    transform: rotateX(10deg) rotateY(10deg) scale(1.05);
    filter: drop-shadow(0 15px 30px rgba(0,0,0,0.6));
  }

}
/* Shadow mengikuti bentuk gambar */




/* FOTO BAWAH VISI DAN MISI */
.item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%) scale(1); /* Pastikan tidak ada perubahan skala */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  display: none; /* Default: Sembunyikan semua */
}

.item.active {
  opacity: 1;
  transform: translateX(0) scale(1); /* Pastikan tetap pada skala normal */
  display: block; /* Pastikan item yang aktif terlihat */
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mencegah distorsi gambar */
}

.dots li.active {
  background-color: #3d3d3d;
}



