
/* Hero Section */

/* #hero { */
/* background: linear-gradient(160deg, var(--pr-color), #000000); */
/* background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(0, 95, 177) 60%), url("image/kontak_img.png") bottom/contain no-repeat;
  min-height: 100vh;
  width: 100%;
  overflow: hidden; */
/* } */
#hero {
background: #ffffff;
background: linear-gradient(to bottom, #ffffff 0%, #3e91ff 50%, #003c8b 100%);
  /* background-image: url("../image/hmj/unnamed\ qq.png");
  background-color: antiquewhite; */
  height: 70vh;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}

#hero p {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 17px;
}

.container-hero {
  background: rgb(17, 157, 223);
background: linear-gradient(159deg, rgb(231, 247, 255) 0%, rgb(172, 188, 255) 100%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border: 1px solid rgba(215, 233, 255, 0.22);
  width: 1200px;
  padding: 20px 40px;
  height: 80vh;
  max-width: 95%;
  box-sizing: border-box;
}

.acsent-img {
  margin-top: 505px;
  width: 32%;
  height: 32%;
  margin-left: 380px;
  opacity: 0.5;
}

.acsent-img.scrolled {
  opacity: 1;
}


.span-hero {
  color: #fff;
  text-shadow: #4f4f4f -3px 2px 2px ;
}


.button-lg-primary {
  display: inline-block;
  width: 120px;               /* Lebih fleksibel */
  height: 50px;
  background-color: #fff;     /* Default putih */
  color: #000;                /* Teks hitam */
  border: 2px solid #1100ff;  /* Border default */
  border-radius: 25px;        /* Rounded */
  font-size: 16px;
  font-weight: 700;
  text-align: center;         /* Vertikal center teks */
  cursor: pointer;
  transition: all 0.4s ease;
  margin-top: -35px;
}

.button-lg-primary:hover {
  background-color: var(--pr-color, #597DFF); /* Warna hover */
  color: #fff;                               /* Teks putih saat hover */
  border-color: var(--pr-color, #597DFF);    /* Border mengikuti warna */
  transform: translateY(-2px);               /* Sedikit efek naik */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);/* Shadow halus */
}

/* FOTO BAWAH VISI DAN MISI */
.item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%) scale(1); /* Pastikan tidak ada perubahan skala */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  display: none; /* Default: Sembunyikan semua */
}

.item.active {
  opacity: 1;
  transform: translateX(0) scale(1); /* Pastikan tetap pada skala normal */
  display: block; /* Pastikan item yang aktif terlihat */
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mencegah distorsi gambar */
}

.dots li.active {
  background-color: #3d3d3d;
}






/* section departemen */
.dept-box {
  position: relative;
  border: 1px solid #003c8b;
  border-radius: 14px;
  padding: 24px 12px;
  height: 200px;
  background: #fff;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;;
}

/* GRADIENT LAYER */
.dept-box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff;
  background: linear-gradient(135deg, #eff6ff, #d0ddff);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
}

/* HOVER EFFECT */
.dept-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(175, 155, 255, 0.2);
  color: #fff;
}

.dept-box:hover::after {
  opacity: 1;
}

.dept-icon {
  font-size: 60px;
  color: var(--pr-color);
  margin-bottom: 10px;
}

.dept-box:hover .dept-icon {
  color: #fff;
}

.dept-box i,
.dept-box p,
.dept-box a {
  position: relative;
  z-index: 2;
}

.dept-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}

.dept-link {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #5a31ff;
}

.read-more-btn {
  display: inline-block;
  padding: 8px 24px;
  background-color: #10b981;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s;
}

.read-more-btn:hover {
  background-color: #059669;
  color: white;
  text-decoration: none;
}


/* Program */

.wrapper {
  padding: 20px 20px;
}

#card-area {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.box2 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.box3 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.box4 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.box5 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.box6 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.box img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.box2 img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.box3 img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.box4 img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.box5 img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.box6 img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, var(--pr-color) 57%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.overlay h3 {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 30%;
  font-size: 30px;
  letter-spacing: 2px;
  color: #e3e3e3;
}

.overlay a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  background: transparent;
  border-radius: 7px;
  text-align: center;
  padding: 5px 15px;
  border: 2px solid rgb(255, 255, 255);
  transition: all 0.5s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.overlay a:hover {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  background: #0099ff;
  border-radius: 7px;
  text-align: center;
  padding: 5px 15px;
  transition: all 0.5s;
  border: 2px solid #045e9b;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.box:hover img {
  transform: scale(1.2);
}

.box:hover .overlay {
  height: 300px;
}

.box2:hover img {
  transform: scale(1.2);
}

.box2:hover .overlay {
  height: 300px;
}

.box3:hover img {
  transform: scale(1.2);
}

.box3:hover .overlay {
  height: 300px;
}

.box4:hover img {
  transform: scale(1.2);
}

.box4:hover .overlay {
  height: 300px;
}

.box5:hover img {
  transform: scale(1.2);
}

.box5:hover .overlay {
  height: 300px;
}

.box6:hover img {
  transform: scale(1.2);
}

.box6:hover .overlay {
  height: 300px;
}

#contact {
  height: 100vh;
  width: 100%;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0.3) url("../image/hmj/coba.png");
  background-blend-mode: darken;
}

#contact #wadah {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#contact .icontelp {
  width: 90px;
  height: 90px;
  background-color: blue;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#contact .contactinform {
  margin: 30px 0px;
  width: 580px;
  text-align: center;
  color: white;
}

#contact .buttoncontact {
  width: 250px;
  text-align: center;
}

#contact .buttoncontact button {
  background-color: #994ff3;
  border: none;
  background-color: blue;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#contact .buttoncontact button:hover {
  background-color: #994ff3;
  border: none;
  background: #ffffff;
  border: 2px solid #045e9b;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  color: #045e9b;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

/* Section Styling */